*::-webkit-input-placeholder {
    color: #fff;
  }
  *:-moz-placeholder {
    color: #fff;
  }
  *::-moz-placeholder {
    color: #fff;
  }
  *:-ms-input-placeholder {
    color: #fff;
  }
  html, body {
    height: auto;
  }
  p {
    font-size: 1.5vw;
  }
  body {
    background-image: url(../images/username/ssbu_logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;

    position: relative;

    font-family: 'Kosugi', sans-serif;
    color: rgb(255,255,204);
    text-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
  }
  
  .username-containter1 {
    text-align: center;
    width: 80vw;
    height: auto;

    position: relative;
    margin-top: 10vh;
    margin-left: 10vw;
  }
  
  .username-headText {
    font-size: 5vw;
  }
  
  .username-textbox {
    margin-top: 5%;
    border: 1px solid whitesmoke;
    color: rgb(50, 50, 50);
    opacity: .9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 40vw;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    font-size: 2rem;
    outline: none;
    background-color: whitesmoke;
  }
  
  .username-textbox:focus {
    width: 50vw;
    outline: none;
  }

  .username-submit-button {
    margin-top: 5%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
    background-image: -webkit-linear-gradient(left, red 0%, orange 100%);
    background-image: linear-gradient(90deg, red 0%, orange 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
    box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);

    margin-bottom: 12vh;
  }

  .username-submit-button:hover {
    color: wheat;
  }

  .username-confirm-button {
    margin-top: 5%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(deepskyblue), to(lime));
    background-image: -webkit-linear-gradient(left, deepskyblue 0%, lime 100%);
    background-image: linear-gradient(90deg, deepskyblue 0%, lime 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw darkcyan;
    box-shadow: 0.2vw 0.2vw 0.1vw darkcyan;

    margin-bottom: 12vh;
  }

  .username-confirm-button:hover {
    color: wheat;
  }

  .usertype-select {
    font-size: 1.8vw;
    margin-top: 2.5%;
  }
  header {
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vw;
  
    margin-top: 0;
    margin-bottom: 0;
  
    background-color: red;
    font-family: 'Kosugi', sans-serif;
    color: rgb(255, 255, 204);
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
    font-size: 4vh;
  }
  header a img {
    margin-left: 5vw;
    height: 5vh;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 6vh;
    width: 100vw;
    background-color: red;
    font-family: 'Kosugi', sans-serif;
    color: rgb(255, 255, 204);
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
    font-size: 2.5vh;
  }