*::-webkit-input-placeholder {
    color: #fff;
  }
  *:-moz-placeholder {
    color: #fff;
  }
  *::-moz-placeholder {
    color: #fff;
  }
  *:-ms-input-placeholder {
    color: #fff;
  }
  
  .containter {
    text-align: center;
    width: 80vw;
    height: auto;

    position: relative;
    margin-left: 10vw;
  }
  
  .vote-button {
    margin-top: 3%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(deepskyblue), to(lime));
    background-image: -webkit-linear-gradient(left, deepskyblue 0%, lime 100%);
    background-image: linear-gradient(90deg, deepskyblue 0%, lime 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw darkcyan;
    box-shadow: 0.2vw 0.2vw 0.1vw darkcyan;

    margin-bottom: 12vh;
  }

  .vote-button:hover {
    color: wheat;
  }

  .result-button {
    margin-top: 3%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
    background-image: -webkit-linear-gradient(left, red 0%, orange 100%);
    background-image: linear-gradient(90deg, red 0%, orange 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
    box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);

    margin-bottom: 12vh;
  }

  .result-button:hover {
    color: wheat;
  }

  .myvote-button {
    margin-top: 3%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(deeppink), to(darkslateblue));
    background-image: -webkit-linear-gradient(left, deeppink 0%, darkslateblue 100%);
    background-image: linear-gradient(90deg, deeppink 0%, darkslateblue 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw indigo;
    box-shadow: 0.2vw 0.2vw 0.1vw indigo;

    margin-bottom: 12vh;
  }

  .myvote-button:hover {
    color: wheat;
  }