*::-webkit-input-placeholder {
    color: #fff;
  }
  *:-moz-placeholder {
    color: #fff;
  }
  *::-moz-placeholder {
    color: #fff;
  }
  *:-ms-input-placeholder {
    color: #fff;
  }
  html, body {
    height: auto;
  }
  p {
    margin-top: 3%;
    font-size: 1.5vw;
    line-height: 150%;
  }
  body {
    background-image: url(../images/username/ssbu_logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;

    position: relative;

    font-family: 'Kosugi', sans-serif;
    color: rgb(255,255,204);
    text-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
    font-size: 1vw;
    text-align: center;
  }
  
  .containter {
    text-align: center;
    width: 80vw;
    height: auto;

    position: relative;
    margin-left: 10vw;
  }
  
  .vote-button {
    margin-top: 3%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(deepskyblue), to(lime));
    background-image: -webkit-linear-gradient(left, deepskyblue 0%, lime 100%);
    background-image: linear-gradient(90deg, deepskyblue 0%, lime 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw darkcyan;
    box-shadow: 0.2vw 0.2vw 0.1vw darkcyan;

    margin-bottom: 12vh;
  }

  .vote-button:hover {
    color: wheat;
  }

  .result-button {
    margin-top: 3%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
    background-image: -webkit-linear-gradient(left, red 0%, orange 100%);
    background-image: linear-gradient(90deg, red 0%, orange 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
    box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);

    margin-bottom: 12vh;
  }

  .result-button:hover {
    color: wheat;
  }

  .myvote-button {
    margin-top: 3%;

    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    border-radius: 0;

    width: 45vw;
    height: 10vh;

    font-size: 2.5vw;

    background-image: -webkit-gradient(linear, left top, right top, from(deeppink), to(darkslateblue));
    background-image: -webkit-linear-gradient(left, deeppink 0%, darkslateblue 100%);
    background-image: linear-gradient(90deg, deeppink 0%, darkslateblue 100%);
    
    -webkit-box-shadow: 0.2vw 0.2vw 0.1vw indigo;
    box-shadow: 0.2vw 0.2vw 0.1vw indigo;

    margin-bottom: 12vh;
  }

  .myvote-button:hover {
    color: wheat;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    width: 100vw;
  
    margin-top: 0;
    margin-bottom: 0;
  
    background-color: red;
    font-family: 'Kosugi', sans-serif;
    color: rgb(255, 255, 204);
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
    font-size: 2vw;
  }
  header a img {
    margin-left: 2.5vw;
    width: 2.5vw;
    height: auto;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    height: 6vh;
    width: 100vw;
    background-color: red;
    font-family: 'Kosugi', sans-serif;
    color: rgb(255, 255, 204);
    text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
    font-size: 1.5vw;
  }