*::-webkit-input-placeholder {
    color: #fff;
  }
  *:-moz-placeholder {
    color: #fff;
  }
  *::-moz-placeholder {
    color: #fff;
  }
  *:-ms-input-placeholder {
    color: #fff;
  }
  body p {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4vw;
  }
  .result-text {
    text-align: left;
    margin-left: 5%;
    font-size: 2vw;
  }

  .chart-area {
    width: 35vw;
    background-color: white;
    border: gray;

    padding: 2% 2% 2% 2%;
  }


  .chara-image {
    width: 20vw;
}
.result-area {
  margin-top: 5vh;
  margin-left: 10vw;
  max-width: 80vw;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  font-size: 5vw;
}
.container {
  text-align: center;
}
.container p {
  text-align: left;
  margin-left: 10vw;
}

.submit-button {
  margin-top: 5%;

  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  border-radius: 0;

  width: 45vw;
  height: 10vh;

  font-size: 2.5vw;

  background-image: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background-image: -webkit-linear-gradient(left, red 0%, orange 100%);
  background-image: linear-gradient(90deg, red 0%, orange 100%);
  
  -webkit-box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
  box-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);

  margin-bottom: 12vh;
}

.submit-button:hover {
  color: wheat;
}

.parameter-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.parameter-form button {
  width: 7.69%;
}

.parameter-form button:hover {
  border-bottom: thin solid rgb(255,255,204);
}