@media screen and (min-width: 601px) {

    html,
    body {
        height: auto;
    }

    p {
        font-size: 1.5vw;
    }

    body {
        background-image: url(../images/username/ssbu_logo.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
        background-position: center center;

        position: relative;

        font-family: 'Kosugi', sans-serif;
        color: rgb(255, 255, 204);
        text-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
        font-size: 1vw;
        text-align: center;
    }

    body p {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
        width: 100vw;

        background-color: red;
        font-family: 'Kosugi', sans-serif;
        color: rgb(255, 255, 204);
        text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
        font-size: 2vw;
    }

    header a img {
        margin-left: 2.5vw;
        width: 2.5vw;
        height: auto;
    }

    header h1 {
        display: inline-block;
        white-space: nowrap;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 6vh;
        width: 100vw;
        background-color: red;
        font-family: 'Kosugi', sans-serif;
        color: rgb(255, 255, 204);
        text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
        font-size: 1.5vw;
    }

    footer h1 {
        display: inline-block;
        white-space: nowrap;
    }

}

@media screen and (max-width: 600px) {

    html,
    body {
        height: auto;
    }

    p {
        font-size: 1.5vw;
    }

    body {
        background-image: url(../images/username/ssbu_logo.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        background-position: center center;

        position: relative;

        font-family: 'Kosugi', sans-serif;
        color: rgb(255, 255, 204);
        text-shadow: 0.2vw 0.2vw 0.1vw rgba(255, 110, 0, 0.5);
        font-size: 1vw;
        text-align: center;
    }

    body p {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
        width: 100vw;

        margin-top: 0;
        margin-bottom: 0;

        background-color: red;
        font-family: 'Kosugi', sans-serif;
        color: rgb(255, 255, 204);
        text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
        font-size: 2vw;
    }

    header a img {
        margin-left: 2.5vw;
        width: 5vw;
        height: auto;
    }

    header h1 {
        display: inline-block;
        white-space: nowrap;
    }

    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 6vh;
        width: 100vw;
        background-color: red;
        font-family: 'Kosugi', sans-serif;
        color: rgb(255, 255, 204);
        text-shadow: 0.1vw 0.1vw 0.05vw rgba(255, 255, 255, 0.5);
        font-size: 1.5vw;
    }

    footer h1 {
        display: inline-block;
        white-space: nowrap;
    }
}