*::-webkit-input-placeholder {
  color: #fff;
}
*:-moz-placeholder {
  color: #fff;
}
*::-moz-placeholder {
  color: #fff;
}
*:-ms-input-placeholder {
  color: #fff;
}

.username-containter {
  background-image: url(../images/username/ssbu_logo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 100vh;

  text-align: center;
}

.username-headText {
  padding-top: 25vh;
  color: whitesmoke;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;
  font-size: 72px;

  -webkit-text-stroke: 0.5px black;
  text-stroke: 0.5px black;

  text-shadow: 1px 2px 3px gray;
}

.username-textbox {
  margin-top: 5%;
  font-family: 'DotGothic16', sans-serif;
  border: 1px solid whitesmoke;
  color: rgb(50, 50, 50);
  opacity: .9;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 400px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 16px;
  outline: none;
  background-color: whitesmoke;
}

.textbox:focus {
width: 500px;
outline: none;
}

.fa-right{
  color: white;
  font-size: 2rem;
}

/* 画面幅の10%の幅で画像を表示 */
.image-vw {
    width : 10vw ; 
  }
.imagezone {
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 80vw;
  height: 170vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: gainsboro;
  border: 4px double goldenrod;
}
.title2_font {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 200%;
  color: gray;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.nobordered_button {
  border: none;
  background: none;
}
.chart_area {
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 40vw;
  height: 40vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: gainsboro;
  border: 4px double goldenrod;
}