*::-webkit-input-placeholder {
  color: #fff;
}
*:-moz-placeholder {
  color: #fff;
}
*::-moz-placeholder {
  color: #fff;
}
*:-ms-input-placeholder {
  color: #fff;
}

#containter {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/username/ssbu_logo.jpeg);
text-align: center;
}

h1 {
  color: whitesmoke;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;
  font-size: 72px;
  margin-top: 50px;

  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;

  text-shadow: 1px 2px 3px gray;
}

.textbox {
margin-top: 50px;
font-family: 'DotGothic16', sans-serif;
border: 1px solid whitesmoke;
color: gray;
opacity: .7;
border-radius: 10px;
padding: 20px;
text-align: center;
width: 400px;
transition: all .3s;
-webkit-transition: all .3s;
-moz-transition: all .3s;
font-size: 16px;
outline: none;
background-color: whitesmoke;
}

.textbox:focus {
width: 500px;
outline: none;
}

/* 画面幅の10%の幅で画像を表示 */
.image-vw {
    width : 10vw ; 
  }
.imagezone {
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 80vw;
  height: 170vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: gainsboro;
  border: 4px double goldenrod;
}
.title2_font {
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 200%;
  color: gray;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.nobordered_button {
  border: none;
  background: none;
}
.chart_area {
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 40vw;
  height: 40vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: gainsboro;
  border: 4px double goldenrod;
}